# IDE
.idea/
.metadata/
.settings/
.project

# Unit test and coverage reports
coverage/
htmlcov/
report/
site/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
sonar*

# Distribution packages
*.changes
*.deb
*.rpm

# Translations
*.mo
*.pot

# Logfiles
*.log
