extends layout

block content
  .header
    .header-content
      p FIWARE REGIONS - SANITY CHECK - #{timestamp}



  block container
      .box1
        ul.region-list
           each region in regions
              - color = region['status'] == 'OK' ?'green' : region['status'] == 'NOK'?'red':'yellow';
              li: a(class='#{color}', href="template.html", title="#{region['node']") #{region['node']}
                button.btn(data-action="btn-subscribe") Subscribe


