doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='shortcut icon', href='https://account.lab.fiware.org/assets/icons/favicon-ec6bdf9204681a820dce0311ee5827e0.ico')
  body
    block content


