#
# Copyright 2015 Telefónica I+D
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#



define hostgroup {
    hostgroup_name      fiware-lab
    alias               FIWARE Lab Hosts
    members             cloud.lab.fiware.org,\
                        glance.lab.fiware.org,\
                        store.lab.fiware.org,\
                        mashup.lab.fiware.org,\
                        account.lab.fiware.org,\
                        saggita.lab.fiware.org,\
                        pegasus.lab.fiware.org,\
                        chef-server.lab.fiware.org,\
                        puppet-master.lab.fiware.org
    }
