#cloud-config

# phone_home: if this dictionary is present, then the phone_home
# cloud-config module will post specified data back to given url
#
phone_home:
 url: {{ phonehome_endpoint }}
 post: [ hostname, instance_id ]
 tries: 10

# Capture all subprocess output into a logfile
# Useful for troubleshooting cloud-init issues
output: {all: '| tee -a /var/log/cloud-init-output.log'}

# final_message
# default: cloud-init boot finished at $TIMESTAMP. Up $UPTIME seconds
# this message is written by cloud-final when the system is finished
# its first boot
final_message: "The system is finally up, after $UPTIME seconds"
