#cloud-config

# phone_home: if this dictionary is present, then the phone_home
# cloud-config module will post specified data back to given url
#
runcmd:
 - curl "{{ openstack_metadata_service_url }}" > /tmp/metadata.json
 - UUID=$(cat /proc/sys/kernel/random/uuid)
 - 'echo "uuid: $UUID"'
 - 'curl -X POST -d @/tmp/metadata.json -H "Content-Type: application/json" -H "TransactionId: $UUID" -H "Hostname:
 $(hostname)" {{ phonehome_endpoint }}{{ path_resource }}'

# Capture all subprocess output into a logfile
# Useful for troubleshooting cloud-init issues
output: {all: '| tee -a /var/log/cloud-init-output.log'}

# final_message
# default: cloud-init boot finished at $TIMESTAMP. Up $UPTIME seconds
# this message is written by cloud-final when the system is finished
# its first boot
final_message: "The system is finally up, after $UPTIME seconds"