.box0
  min-height 100%
  position relative

.box1
    padding-bottom 100px

.box2
    display block
    background-color #122964
    border: 1px solid #cccccc
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px
    -webkit-box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    -moz-box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    width 600px
    margin-left auto
    margin-right auto
    margin-bottom 100px

    .username
        float right
        color white

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px



.region_list
    list-style-type none
    width 500px

    .timestamp
          float right
          color white
          font-weight normal
          font-size 80%
          margin-right 10px



a.red
    color red

a.green
    color green


li.yellow
    color yellow
    height 30px
    font-weight bold

li.red_and_green
    height 30px
    font-weight bold


.btn
    float right

.subscribe
     width 100px


.footer-main
  position absolute
  bottom 0
  width 100%
  height 50px
  font-size 12px
  border-top 1px solid #48b9c9
  padding-top 1px
  left 0
  right 0
  color #193B6B

  a
      text-decoration underline

.footer
  border-top 1px solid #F2E826
  box-sizing border-box


  .cred
    padding-top 12px
    padding-bottom 15px
    max-width 1200px
    margin 0 auto
