.box0
  min-height 100%
  position relative

.box1
    padding-bottom 100px

.box2
    display block
    background-color #122964
    border: 1px solid #cccccc
    -webkit-border-radius 4px
    -moz-border-radius 4px
    border-radius 4px
    -webkit-box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    -moz-box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    box-shadow 0 0 0 4px rgba(0,0,0,0.05)
    width 600px
    margin-left auto
    margin-right auto
    margin-bottom 100px

    .username
        float right
        color white

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px



.region_list
    list-style-type none
    width 500px

    .timestamp
          float right
          color white
          font-weight normal
          font-size 80%
          margin-right 10px



a.red
    color red

a.green
    color green


li.yellow
    color yellow
    height 30px
    font-weight bold

li.red_and_green
    height 30px
    font-weight bold


.btn
    float right

.subscribe
     width 100px


.footer
  width 100%
  background: #eeeeee url("../images/bg.png")
  background-color #fcfcfc
  color #002d67
  font-size 90%
  font-family OpenSans, Arial, sans-serif
  height 100px
  position absolute
  bottom 0
  left 0


  .unstyled
      margin-left 0
      width 1100px
      list-style none

  a
    color #002d67
