<!DOCTYPE html>
<html>
<head>
    <title>Sanity Check Result Report- FIWARE Region Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../../stylesheets/style_fi.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/index.css">
    <link rel="stylesheet" href="../../stylesheets/font-awesome.css" media="screen">
    <script src="../javascripts/dashboard.js"></script>
</head>
<body onload="calcHeight();displaySections();changeAllTitles()">
<div class="box0">
    {% for class, group in report.items() %}
    <h1 align="left" class="subtitle" id="subtitle">Region {{ class }} - {{timestamp}}</h1>
    {% endfor %}
    <div style="padding-bottom: 100px;">
        <div class="test_title">Test result stats</div>
        <section>
            <table>
                <tr>
                    <th> Fail</th>
                    <th> Error</th>
                    <th> Skip</th>
                    <th> Success</th>
                    <th> Total</th>
                </tr>
                {% for class, group in report.items() %}
                <tr>
                    <td class="error"> {{ group.stats.failures }}</td>
                    <td class="error"> {{ group.stats.errors }}</td>
                    <td class="skip"> {{ group.stats.skipped }}</td>
                    <td class="success"> {{ group.stats.passes }}</td>
                    <td class="total"> {{ group.stats.total }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <div class="test_title">Performed test cases</div>
        {% for class, group in report.items() %}
        <section>
            <ul class="results">
                <li class="header_table" id="subtitle3">{{ class }}</li>
                {% for test in group.tests %}
                <li class="results"><a title="{{ test.shortDescription }}" {% if test.failed %}class="{% if test.type == 'skipped' %}skipped{% else %}failed{% endif %}" href="javascript:openFailureDetailsInNewWindow('#{{ class }}:{{ test.name }}');" {% else %} class="success" {% endif %}>{{ test.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </div>
    <div id="failure_details">

        <div id="html_failure_details">
            <link rel="stylesheet" href="../stylesheets/style_fi.css"/>
            <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
            <link rel="stylesheet" type="text/css" href="../stylesheets/index.css"/>
            <link rel="stylesheet" href="../../stylesheets/font-awesome.css" media="screen">
            <script src="../javascripts/dashboard.js"></script>


            <div>
                {% for class, group in report.items() %}
                <h1 align="left" class="subtitle" id="subtitle2">Region {{ class }} - {{timestamp}}</h1>
                {% endfor %}
                <div style="padding-bottom:100px">

                    <div class="test_title">Failure details</div>
                    {% for class, group in report.items() %}
                    {% if group.stats.failures or group.stats.errors or group.stats.skipped %}
                    <section>

                        <div style="background-color: #f5f5f5; padding-bottom: 15px;">
                            <div class="header_table" id="subtitle4">{{ class }} ({{ group.stats.failures }}
                                failures, {{ group
                            .stats.errors }} errors)</div>

                            {% for test in group.tests %}
                            {% if test.failed %}
                            <section style="padding-right: 14px; padding-left: 14px;" id="{{ class }}:{{ test.name }}">
                                <h3>{{ test.name }}: <strong>{{ test.errtype }}</strong></h3>
                                <div class="test_details">
                                    <h4>Details</h4>
                                    <pre><xmp>{{ test.message }}</xmp></pre>
                                    <h4>Traceback</h4>
                                    <pre class="traceback"><xmp>{{ test.tb }}</xmp></pre>
                                </div>
                            </section>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
                    {% endfor %}
                    <br>
                    <br>
                    <br>
                    <script>
                        displaySections();
                    </script>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- div box0-->
</body>

</html>
