body {
    font-family: Calibri, "Trebuchet MS", sans-serif;
}
* {
    word-break: break-all;
}
table, td, th, .dataid {
    border: 1px solid #aaa;
    border-collapse: collapse;
    background: #fff;
    padding: 1px 10px 1px 10px;
}
th{
    background-color: #aaaaaa;
}
td.error{
    background-color: lightcoral;
}
td.skip{
    background-color: yellow;
}
td.success{
    background-color: lightgreen;
}
td.total{
    background-color: lightgray;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
section {
    background: rgba(0, 0, 0, 0.05);
    margin: 2ex;
    padding: 1ex;
    border: 1px solid #999;
    border-radius: 5px;
}
h1 {
    font-size: 130%;
}
h2 {
    font-size: 120%;
}
h3 {
    font-size: 100%;
}
h4 {
    font-size: 85%;
}
h1, h2, h3, h4, a[href] {
    cursor: pointer;
    color: #0074d9;
    text-decoration: none;
}
h3 strong, a.failed {
    color: #ff4136;
}
a.success {
    color: #3d9970;
}
pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', 'Monaco',
                 'Courier New', monospace;
}
.test-details, .traceback {
    display: none;
}
section:target {
    display: block;
}
#failure_details{
        display: none;
}