#
# Copyright 2015 Telefónica I+D
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#



# Orion Context Broker global instance
define host {
    use                             fiware-host
    host_name                       orion.lab.fiware.org
    address                         orion.lab.fiware.org
    check_command                   check_tcp!1026
    contact_groups                  orion
    }

# Cosmos BigData global instance
define host {
    use                             fiware-host
    host_name                       cosmos.lab.fiware.org
    address                         cosmos.lab.fiware.org
    check_command                   check_tcp!14000
    contact_groups                  cosmos
    }

# IDAS global instance #1
define host {
    use                             fiware-host
    host_name                       eidas1.lab.fiware.org
    address                         eidas1.lab.fiware.eu
    check_command                   check_tcp!80
    contact_groups                  idas
    }

# IDAS global instance #2
define host {
    use                             fiware-host
    host_name                       eidas2.lab.fiware.org
    address                         eidas2.lab.fiware.eu
    check_command                   check_tcp!80
    contact_groups                  idas
    }

# IDAS global instance #3
define host {
    use                             fiware-host
    host_name                       eidas3.lab.fiware.org
    address                         eidas3.lab.fiware.eu
    check_command                   check_tcp!80
    contact_groups                  idas
    }

# IDAS global instance #4
define host {
    use                             fiware-host
    host_name                       eidas4.lab.fiware.org
    address                         eidas4.lab.fiware.eu
    check_command                   check_tcp!80
    contact_groups                  idas
    }
