#
# Copyright 2015 Telefónica I+D
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#



define host {
    name                            fiware-host
    use                             linux-server
    max_check_attempts              3
    check_interval                  10
    retry_interval                  5
    first_notification_delay        1
    notification_interval           0
    notification_options            d,u,r,f,s
    active_checks_enabled           1
    passive_checks_enabled          1
    notifications_enabled           1
    icon_image_alt                  Linux
    icon_image                      base/linux40.gif
    statusmap_image                 base/linux40.gd2
    check_period                    24x7
    notification_period             24x7
    register                        0
    }

define service {
    name                            fiware-service
    use                             generic-service
    check_period                    24x7
    notification_period             24x7
    max_check_attempts              3
    check_interval                  5
    retry_interval                  5
    first_notification_delay        1
    notification_interval           0
    notification_options            w,u,c,r,f,s
    active_checks_enabled           1
    notifications_enabled           1
    event_handler_enabled           0
    register                        0
    }
